html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
i {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-style: normal;
}

header {
	width: 100%;
}

header .box {
	width: 960px;
	height: 75px;
	margin: auto;
}

header .box .h_left {
	width: 330px;
	height: 75px;
	float: left;
	background: url(../img/6.png) no-repeat right;
}

header .box .h_rigth {
	width: 265px;
	height: 75px;
	text-align: right;
	float: right;
	padding-top: 30px;
	box-sizing: border-box;
}

.h_left img {
	margin-top: 15px;
}

.h_rigth span {
	font-size: 12px;
	color: #666;
	margin-top: 3px;
}

.h_rigth button {
	font-weight: 700;
	color: #666;
	height: 32px;
	width: 64px;
	margin-top: -10px;
	border-radius: 3px;
	border: none;
	background: url(../img/4.png) no-repeat 0 -48px;
	outline: none;
}

nav {
	height: 20px;
	background: url(../img/3.png) no-repeat center top;
}

section {
	margin-top: 40px;
}

.box2 {
	width: 960px;
	margin: auto;
	height: 432px;
}

form {
	width: 700px;
	height: 432px;
	float: left;
	position: relative;
}

.form_rigth {
	width: 260px;
	height: 238px;
	float: right;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #d1eeff;
	background-color: #f5fbff;
}

form p {
	width: 700px;
	height: 42px;
	margin-bottom: 20px;
	float: left;
}

form p label {
	display: inline-block;
	height: 42px;
	width: 65px;
	margin-right: 10px;
	text-align: right;
	line-height: 42px;
	font-size: 14px;
	color: #666;
	font-weight: 700;
	float: left;
}
form p #sp1{
	font-size: 12px;
	color: #999;
	position: absolute;
	/*top: 5px;*/
	margin-left: 10px;
}
form p span{
	font-size: 12px;
	color: #999;
	margin-left: 10px;
	display: none;
	
}
form p input {
	width: 350px;
	height: 40px;
	padding-left: 10px;
	box-sizing: border-box;
	border: none;
	border: 1px solid #ddd;
	outline: none;
	font-size: 14px;
	transition: .3s;
}

.check input {
	width: 13px;
	height: 13px;
	vertical-align: middle;
}

.check {
	font-size: 12px;
	color: #666;
	margin-left: 75px;
}

.check a {
	color: #1b66c7;
}

.form_rigth h3 {
	margin: 0 10px;
	padding-left: 30px;
	height: 50px;
	line-height: 50px;
	background: url(../img/2.png) left center no-repeat;
	border-bottom: 1px solid #e6edf2;
	font-size: 14px;
	color: #666;
}

.form_rigth p:first-child {
	color: #666;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.form_rigth p:nth-child(2) {
	font-size: 14px;
	color: #f18300;
	font-weight: 700;
}

.form_rigth p:nth-child(3) {
	color: #666;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.form_rigth p:nth-child(4) {
	font-size: 14px;
	color: #f18300;
	font-weight: 700;
}

.form_rigth p:last-child {
	color: #666;
	font-size: 12px;
	margin-top: 15px;
	padding-bottom: 15px;
}

footer {
	width: 980px;
	margin: auto;
	height: 15px;
	text-align: center;
	color: #7a77c8;
	font-size: 12px;
}

.mot {
	width: 393px;
	height: 448px;
	position: absolute;
	left: 35%;
	top: 10%;
	background: darkcyan;
}

.nav {
	height: 30px;
	background: #036663;
	border-bottom: 1px solid #369;
	line-height: 30px;
	padding-left: 30px;
}

.nav a {
	color: #fff;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
}

.d-box {
	width: 393px;
	height: 371px;
	position: absolute;
	top: 15%;
	background: #FFFFFF;
	left: 35%;
	box-sizing: border-box;
	display: none;
	
}
#sp3{
	color: red;
	position: absolute;
	top: 54px;
	left: 14px;
	font-size: 14px;
	display: none;
}

.hd {
	height: 46px;
	line-height: 46px;
	padding-left: 0px;
	box-sizing: border-box;
	cursor: move;
	background: url(../img/55.png) no-repeat 20px center #f7f7f7;
}

.hd i {
	padding-left: 60px;
	font-weight: bold;
	letter-spacing: 1px;
}

#span {
	float: right;
	cursor: pointer;
	padding-right: 15px;
	display: inline-block;
	font-size: 20px;
	color: #333;
}

.hdp {
	background: url(../img/56.png) no-repeat 298px 2px;
	font-size: 12px;
	
	text-align: right;
	padding-left: 15px;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: 24px;
	margin-bottom: 19px;
}
.bd p:nth-child(2) input{
	width: 350px;
	height: 42px;
	padding-left: 39px;
	box-sizing: border-box;
	margin-left: 15px;
	outline: none;
	border: none;
	background: url(../img/input_icons_24.png) no-repeat 0 -61px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
}
	

.bd p:nth-child(3) input{
	width: 350px;
	height: 42px;
	padding-left: 39px;
	box-sizing: border-box;
	margin-left: 15px;
	outline: none;
	border: none;
	background: url(../img/input_icons_24.png) no-repeat 0 -142px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
}
.bd p:nth-child(4) input{
	vertical-align: middle;
	margin-left: 15px;
}
.bd p:nth-child(4) label,a{
	font-size: 13px;
}
.bd p:nth-child(4) a{
	float: right;
	    color: rgb(27, 102, 199);
	margin-right: 33px;
}

.bd button{
	    display: block;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border: none;
    margin-left: 15px;
    border-radius: 5px;
    outline: none;
    margin-top: 15px;
    width: 350px;
        background-color: #4490f7;
        margin-bottom: 15px;
}
.bd p:last-child {
	height: 17px;
	margin-top: 20px;
}
.bd p:last-child a{
	float: right;
	    color: rgb(27, 102, 199);
	/*text-align: right;*/
	margin-right: 33px;
}
.mask{
				height: 100%;
				position: fixed;
				left: 0;
				top: 0;
				background: rgba(0,0,0,0.6);
				width: 100%;
				display: none;

}
#btn2{
	background-color: #4490f7;
	display: block;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 75px;
}
.divr{
	width: 220px;
	height: 71px;
	background:#f9f9f9;
	position: absolute;
	bottom: 177px;
	right: 44px;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	display: none;
}
.divr p{
	font-size: 12px!important;
	height: 15px;
	margin: 0;
	margin-bottom: 5px;
	color: #666;
	padding-left: 15px;
}
.divr p:first-child{
	background: url(../img/4.png) no-repeat -89px -114px;
}
.divr p:nth-child(2){
	background: url(../img/4.png) no-repeat -89px -114px;
}
.divr p:last-child{
	background: url(../img/4.png) no-repeat -89px -114px;
}
.add{
	border-color: #488ee7;
}
.add2{
	border-color: red;
}
